/*----------------------------------------*/
/*  RESPONSIVE CSS START 
/*----------------------------------------*/

/* laptop devices 1200 - 1600 */
@media only screen and (min-width: 1200px) and (max-width: 1600px) { }


/* large devices 992 - 1199*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    /*header css start*/
    .slider-text h2 {
        font-size: 42px;
        line-height: 1.3;
    }

    .slider-text p {
        font-size: 14px;
        line-height: 1.6;
    }

    .learn-text p {
        font-size: 14px;
    }

    .learn-text h3 {
        font-size: 15px;
    }

    ul.links li a {
        margin-left: 32px;
    }


}


/* Medium devices 768 - 991 */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .buy-meta span {
        margin-right: 16px;
    }

    .buy-meta span a {
        font-size: 15px;
    }


    .footer-widget {
        float: left;
        margin-bottom: 40px;
    }

    ul.links li a {
        margin-left: 7px;
    }

    .header-btn {
        padding-top: 20px;
    }

    .main-menu {
        float: left;
        padding-top: 20px;
        text-align: center;
    }

    .slider-text p {
        font-size: 15px;
    }



}


/* Small devices 576 - 767 */

@media (max-width: 767px) {


    .slider-text h2 {
        font-size: 40px;
    }

    .footer-widget {
        float: left;
        margin-bottom: 40px;
    }

    .slider-text {
        padding-top: 200px;
    }



}

/* Small devices 0 - 575 */
@media (max-width: 575px) {

    .slider-text h2 {
        font-size: 40px;
    }

    .section-title h3 {
        font-size: 30px;
    }

    .buy-content h3 {
        font-size: 22px;
    }

.buy-meta span {
	display: block;
}








}
